#valorDiv, #content-peso{
	display: none;
}

.hide{
	display: none;
}

.alertval{
	color: #B39925;
}

.navbienal{
	background: #0A0A0A;
	border-color: #0A0A0A;
	min-height: 110px;
}

#app-layout{
	background: #0F0F0F;
	color: #fff;
}

#panelbienal{
	background: #0F0F0F;
}

.strongbienal{
	color: #b39925;
}

.centerdiv{
	text-align: center !important;
}

#imgFooter{
	width: 45%;
	border: 5px solid #b39925
}

#blockquoteFooter{
	padding: 7% 20px;
}

#pFooter{
	text-align: justify;
	font-size: 15px;
	line-height: 1.9;
}

.botonBienal{
	background: #b39925;
	border-color: #654b00;
}

.headingBienal{
	background-color: #b39925 !important;
	color: #fff !important; 
}

#app-navbar-collapse{
	padding: 2.5%;
}

.aBienal{
	color: #fff !important;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover{
	background-color: #b39925 !important;
}

#rowFooter{
	background-color: #7B4911;
	padding: 15px 0;
}

#copyrigth{
    font-size: 15px;
    padding-left: 15px;
    padding-right: 119px;
    padding-top: 65px;
    text-align: right;
}

#cargando{
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	position: fixed;
	background: #fff;
	z-index: 10000;
	opacity: 0.8;
	display: none;
}

#cargando img{
	position: absolute;
	top: 49%;
	left: 49%;
}

th.headerSortUp { 
    background-color: #B39925; 
} 

th.headerSortDown { 
    background-color: #B39925; 
} 

th.header { 
    cursor: pointer; 
} 

#tableArtistas{
	font-size: 12px;
}